.text-shadow-base {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.camp-bg {
  /*background-color: #282c34;*/
  background-image: url("images/camp.jpg");
  background-repeat: no-repeat;
  /*background-position-x: 60%;*/
  /*background-position-y: 50%;*/
  background-position: center center;
  background-size: cover;
}

.navbar-color {
  background: linear-gradient(170deg, rgba(49, 79, 57, 0.6) 0%, rgba(84,90,63,1) 46%, rgba(147,134,95,1) 80%);
}

.counter-item {
  padding-left: 20px;
  padding-right: 20px;
}

@media all and (max-width: 650px) {
  .counter-item {
    padding: 5px 5px;
  }
}
